body {
    width: 1445px;
    height: 2487px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;

    margin-left: 10%;

}


a {
    color: #828282;
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: none;

}

.vector {
    width: 940px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

p.name {
    color: var(--black, #070707);
    font-family: Abel;
    font-size: 37.339px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.info2 {
    width: 1445px;
    height: 506px;
    background: #F6F6F6;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    text-align-last: center;
    padding-top: 10%;

}

h4,
.info2 p {
    color: var(--black, #070707);
    text-align: center;
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

h3 {
    color: var(--black, #070707);
    text-align: center;
    font-family: Abel;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5 {
    color: var(--black, #070707);
    text-align: center;
    font-family: Abel;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;

}

h6 {
    color: var(--black, #070707);
    text-align: center;
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    
}



.Contacts {
    width: 1445px;
    height: 603px;
    
    background: #F6F6F6;
    margin-top: 60px;
    color: var(--black, #070707);

    font-family: Abel;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.fs-2{
    margin-top: 110px;
}
.icon{display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 40px;
    
    
}
.fa-linkedin,.instagram,.bowl,.Be{
    width: 40px;
    height: 40px;
}
.Like{
    margin-top: 40px;
    color: #828282;
text-align: center;
font-family: Abel;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}